<div id="navbar-fixed">
    <ul id="nav">
        <li id="nav-logo">
            <a href="../index.html">
                <img src="../assets/img/logo.png"> 
            </a>
        </li>
        <li class="nav-item">
            <a href="../pages/catalog.html">NEW</a>
        </li>
        <li class="nav-item">
            <a href="../pages/catalog.html">OUR COLLECTIONS</a>
        </li>
        <li class="nav-item">
            <a href="../pages/catalog.html">SALE</a>
        </li>
        <li class="nav-item">
            <a href="">MY ACCOUNT</a>
        </li>
        <li class="nav-item">
            <a href="">MY BAG</a>
        </li>
    </ul>
</div>