#goToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 2; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    padding: 1%; /* Some padding */
    border-radius: 40%; /* Rounded corners */
    font-size: 100%; /* Increase font size */
    cursor: pointer; /* Add a mouse pointer on hover */
}

#goToTopBtn:hover {
    background-color: #545; /* Add a dark-grey background on hover */
}